POSTGRES_HOST=POSTGRES_HOST
POSTGRES_PORT=POSTGRES_PORT
POSTGRES_NAME=POSTGRES_NAME
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
PGDATA=/var/lib/postgresql/data

SECRET_KEY=SECRET_KEY
